<!DOCTYPE html>
<html>

<head>

<title>Receive Stock</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="form-container">

<h2>Receive Stock</h2>

<form action="/receipts" method="POST">

<label>Product ID</label>
<input type="number" name="product_id" required>

<label>Quantity Received</label>
<input type="number" name="quantity" required>

<button type="submit">Receive Stock</button>

</form>

<a href="/dashboard" class="back-btn">Back to Dashboard</a>

</div>

</body>
</html>