<!DOCTYPE html>
<html>

<head>

<title>Register - CoreInventory</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="auth-body">

<div class="auth-container">

<h2>Create Account</h2>

<form action="/register_user" method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<label>Role</label>
<select name="role">
<option value="manager">Manager</option>
<option value="staff">Staff</option>
</select>

<button type="submit">Register</button>

</form>

<p class="switch-link">
Already have an account?
<a href="/">Login</a>
</p>

</div>

</body>
</html>